@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --background: #1a1d21;
    --white: #ffffff;
    --green: #65d0d4;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:hover {
    color: #fff !important;
    background-color: #18181a80 !important;
    transition: 100ms linear;
}

.dropdown-menu {
    background-color: #2B2D31 !important;
}

.divImage {
    background-color: black;
    background: url(../imagem_dna.png);
    height: 800px;
    max-width: 100%;
    background-size: cover;
}

.title {
    font-size: 4rem;
    color: #fff;
}

.subtitle {
    color: #fff;
}

.initialTexts {
    position: relative;
    display: table;
    top: 230px;
    height: 150px;
    text-shadow: -1px 5px 8px rgba(0, 0, 0, 0.8);
}

.sobreAreaBackground {
    min-height: 1500px;
    background-color: var(--background);
}

.perfilArea_textDiv {
    position: relative;
    height: 80px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 100px;
}

.title_perfil {
    color: white;
}



.DivText_perfilArea_Box {
    position: relative;
    min-height: 400px;
    top: 30%;
    color: white;
}

.textPerfilBox {
    margin-top: 100px;
    font-size: 1.3rem;
}

.sobreAreaTitleDiv {
    position: relative;
    height: 80px;
    width: 300px;
}

.sobreArea_BoxDiv {
    position: relative;
    min-height: 250px;
    width: 80vw;
    background-color: #2020238e;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.textSobreAreaDiv {
    position: relative;
    min-height: 60%;
    width: 80%;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.textSobreArea {
    font-size: 1.3rem;
    padding: 10px;
}

.bg-cursos {

    min-height: 1200px;
    background-color: var(--background);
    color: var(--white);
}

.hr-space {
    margin-bottom: 150px;
}


.txt-cursos {
    font-size: 54px;
}


.div-cards-cursos {
    align-items: space-between;
    flex-direction: column;
}

.txt-saiba-mais {
    padding: 20px;
    color: var(--green);
}

.txt-saiba-mais:hover {
    color: #000;
    transition: color .6s linear;
}

.cards-cursos {
    top: 0;
    margin-top: 0;
    padding: 20px;
    margin-left: 0;
    display: inline-block;
    position: relative;
    width: 23%;
    min-width: 220px;
    min-height: 350px;
    max-height: 350px;

}

.cards-cursos:hover {
    color: #000;
    transition: background-color .6s linear;
    background-color: var(--green);
}




.background_boxes {
    position: relative;
    background-color: aqua;
    min-height: 1000px;
    background: url(../background2.jpg);
    background-size: cover;
}

.FuncoesDivGeral {
    position: relative;
    height: 680px;

    margin-left: 5vw;
}

.funcoesText_Div {

    text-align: center;
    height: 80px;
}

.funcoesAreaDiv {

    height: 500px;
    background-color: #202023d8;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.textFuncoesDiv {

    top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 255, 255, 0);
    height: 90%;
}

.textFuncoes {
    font-size: 1.3rem;
}

.textMercadoDiv {

    top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 255, 255, 0);
    height: 90%;
}

.textMercado {
    font-size: 1.3rem;
}

.MercadoDivGeral {

    background-color: rgba(0, 255, 255, 0);
    height: 680px;

    margin-left: 60vw;
}

.mercadoText_Div {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 80px;
}

.mercadoAreaDiv {

    height: 500px;
    background-color: var(--background);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.funcoesarea {
    margin-top: 20px;
    height: 600px;
}

.mercadoarea {
    margin-top: 20px;
    height: 600px;
    min-width: 400px;

}

.text {
    color: #fff;
    padding: 30px;
}

.funcoesArea_Box {
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    background-color: #2020238e;
    min-height: 350px;
    border-radius: 10px;
}

.mercadoArea_Box {
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    background-color: #2020238e;
    min-height: 350px;
    border-radius: 10px;
}

.row-cards {
    position: relative;
    top: 50px;
}

.align-left {
    padding-bottom: 30px;
    text-align: left;
}

.bg-biologia {
    min-height: 900px;
    background: #00000080 url(../bg-biologia.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-biologia-marinha {
    min-height: 900px;
    background: #00000080 url(../bg-biologia-marinha.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-botanica {
    min-height: 900px;
    background: #00000080 url(../bg-botanica.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-biologia-computacional {
    min-height: 900px;
    background: #00000080 url(../bg-biologia-computacional.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-ciencias-biologicas {
    min-height: 900px;
    background: #00000080 url(../bg-ciencias-biologicas.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-biologia-molecular-e-genetica {
    min-height: 900px;
    background: #00000080 url(../bg-biologia-molecular-e-genetica.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-ecologia {
    min-height: 900px;
    background: #00000080 url(../bg-ecologia.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-biologia-do-desenvolvimento {
    min-height: 900px;
    background: #00000080 url(../bg-biologia-do-desenvolvimento.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-biotecnologia {
    min-height: 900px;
    background: #00000080 url(../bg-biotecnologia.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-analises-ambientais {
    min-height: 900px;
    background: #00000080 url(../bg-analises-ambientais.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-gestao-ambiental {
    min-height: 900px;
    background: #00000080 url(../bg-gestao-ambiental.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-saneamento-ambiental {
    min-height: 900px;
    background: #00000080 url(../bg-saneamento-ambiental.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-biomedicina {
    min-height: 900px;
    background: #00000080 url(../bg-biomedicina.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.finaldiv {
    height: 300px;
    background-color: var(--background);
}

.grdcurr-curso {
    background-color: #ffffff00;
    min-height: 400px;
}

.division-between-areas {
    background-color: var(--background);
    height: 270px;
    width: 100%;
}

.--bs-dropdown-bg {
    background-color: var(--background);
}

.card {
    color: #fff !important;
    background-color: var(--background) !important;
    padding: 0 0 !important;
    margin-bottom: 20px;
}

.card:hover {
    color: #fff !important;
    background-color: #1d1e20 !important;
    padding: 0 0 !important;
    transition: 500ms linear;
}

.inicio-bacharelados-area {
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--background);
}

.img-bio {
    max-width: 25%;
}

.acordeao-pos{
    background-color: #1a1d21;
    min-height: 400px;
}